NODE_ENV="development"
PORT=8083

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_VHOST=/

#Run RabbitMQ with Docker
#docker run -d --name rabbitmq -p 5672:5672 -p 15672:15672 -e RABBITMQ_DEFAULT_USER=guest -e RABBITMQ_DEFAULT_PASS=guest rabbitmq:3-management
#Open http://localhost:15672 → login with guest / guest

SMTP_HOST="localhost"
SMTP_PORT=587

SMTP_USER="SMTP_USER"
SMTP_PASS="SMTP_PASS"
EMAIL_FROM="EMAIL_FROM"