http {
    upstream auth {
        server auth:8081;
    }
    upstream messages {
        server messages:8082;
    }
    upstream notification {
        server notifications:8083;
    }

    server {
        listen 85;

        location /auth/ {
            proxy_pass http://auth/;
        }

        location /messages/ {
            proxy_pass http://messages/;
        }

        location /notifications/ {
            proxy_pass http://notifications/;
        }
    }
}

events {}